<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Descriptive Statistics</h3>
    </div>
    <div class="panel-body">
     <form action="/descriptive_statistics/results">

<form class="form-horizontal">
  <div class="form-group">
    <label for="list_of_numbers" class="col-sm-2 control-label">Numbers</label>
    <div class="col-sm-10">
      <input name="list_of_numbers" class="form-control" id="inputEmail3" placeholder="Enter your numbers (separated by spaces)">
    </div>
  </div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </div>
  </div>

</form>


</div>




</form>
